<div class="whole-page">
  <h1> Notes on Angular: </h1>
  <br>
  <div class="creating-components">
    <h2> Creating Components </h2>
    <p class="light-green">
      Styles is an array because you can reference multiple css files.
    </p>
    <p class="blue">
      Setting the prefix in the angular.json file means that a prefix is added to components when they are created.<br>
      It does not amend existing elements.
    </p>
    <p class="green">
      For a very small component you can write html directly into the template (within component.ts).<br>
      It will need to be in backticks if it's on multiple lines. <br>
      You can also do this with styles. Once you have more than 3 lines html/ css it's hard to use.
    </p>
    <p class="darkblue">
      Assets show up because they are preconfigured in the angular.json file.<br>
      Look at "asserts" and then point it at "src/asserts".<br>
      This "assets" function can hold many files. When accessing these files in html don't add the source onto url.
    </p>
  </div>
  <br><hr><br>
  <div class="component-lifecycles">
    <h2> Component Lifecycles </h2>
    <p>Some events occur only once:</p>
    <p class="blue">OnInit, AfterContentInit, AfterViewInit, OnDestroy <br></p>
    <p>Some occur any time the components input properties  changes: </p>
    <p class="blue"> OnChanges, DoCheck, AfterContentChecked, AfterViewChecked <br></p>
    <p>Only common elements are: </p>
    <p class="blue">OnChanges (multiple), OnInit (once), OnDestroy (once)</p>
    <p style="font-weight: bold">
      Hook into a component's lifecycle events in the component's class. <br>
      You need to do 3 things to implement a lifecycle hook:
    </p>
      <ul>
        <li><p>
          Import the lifecycle event interface (e.g. OnInit) within the component.ts file, <br>
          E.g. import &#123;Component, OnInit&#125; from &#64;angular/core
          </p></li>
        <li><p>Implement it on your class (e.g. export Class HomeComponent implements OnInit) </p></li>
        <li><p>
          Create a method on your class for that lifecycle hook (create under the constructor). <br>
          Usually this is for fetching data. The method's name is always prefixed with ng e.g. ngOnInit
          </p></li>
        <br>
        <li>
          <img class="life-cycle-hooks" src="/assets/images/kate/lifecyclehooks.png" alt="life-cycle-hooks" />
        </li>
      </ul>
  </div>
  <br><hr><br>
  <div class="manually-adding-a-component">
    <h2> Manually adding a component (instead of cli) </h2>
    <p>Add in all the files and make sure you import it into the app.module.ts file, then add it into the NgModule declarations. </p>
    <p> You don't need the app.module.ts file if a module is standalone. </p>
  </div>
  <br><hr><br>
  <div class="interpolation">
    <h2> Interpolation </h2>
    <ul>
      <li><p> Use &#123; &#123;	&#125; &#125; for javascript expressions. This is usually just simple expressions.</p></li>
      <li><p> Can bind component data by just inserting it in javascript  &#123; &#123;	&#125; &#125;</p></li>
      <li><p> If you use binding you are telling it that the element will be javascript. E.g. wrap the alt in [] and you can remove the  &#123;	&#125; </p></li><br>
      <li>
       <img class="interpolation" src="/assets/images/kate/interpolation.png" alt="interpolation" />
      </li>
      <li><p>
        With attribute binding (i.e. square brackets) you are binding it to an expression more than a component property.
        In the alt example we are binding it to the specific string.
      </li>
      <li><p>
        This is just a one way binding. Square brackets create a binding only from the component class to the HTML attribute.<br>
        So if the data changes in the back end it will update the front end component,
        but if for example a user types into an input box with [] binding it will not update the back end/ value in the components.
      </p></li>
      <li><p>
        We can bind an attribute to the return value of a function on our component.<br><br>
        <img class="bind-to-function" src="/assets/images/kate/bindtofunction.png" alt="bind-to-function" />
      </p></li><br>
    </ul>
  </div>
  <br><hr><br>
  <div class="event-binding">
     <h2> Event binding </h2>
     <p> Square brackets are used for binding information in front end to data in back end. </p>
     <p> Parenthesis are used to bind events, i.e. information on front end going to back end. <br>
         This can be filters or function elements. </p>
     <p> Use *ngFor as a foreach, this can include elements from functions (e.g. *ngFor="let product of getFilteredProducts()) </p>
     <p> Add null safe operator or if a value is null it will break (e.g. class="name" &#123; product?.name &#125; )</p>
  </div>
    <br><hr><br>
  <div class="communicating">
    <h2> Communicating between Angular components </h2>
      <p>
          <b>Parent-Child communication: </b> <br>
          Parent contains all of the information but sends some of it to the child. <br>
          E.g. parent component contains list of customers, child is responsible for displaying the data (e.g. a single customer).<br>
          When the front end is interacted with (e.g. deactivate a customer) the child component passes this event back to the parent.
      </p>
      <img class="parent-child" src="/assets/images/kate/parent-child.png" alt="parent-child" />
      <p>
          Parent then listens to the event and takes some action that can change the state.
          The new information is then sent back down to the child so the customer can see it.
      </p>
      <p>
          <b>Container presenter pattern: </b> <br>
          Parent contains and manipulates the data and the child presents it and sends message to parent based on user interaction.
      </p>
      <p>
          The name we give this binding is determined by the type defined in the child component (e.g. if under ProductDetailsComponent it was called Kate: Type IProduct we would put Kate here)
      </p>
      <img class="product" src="/assets/images/kate/product.png" alt="product" />
      <p> Filtered product is what is given from the parent. </p>
      <p> We add input to the component element to tell it that it can receive information from a parent</p>
      <img class="product2" src="/assets/images/kate/product2.png" alt="product2" />
      <p>
          Add a new event in product details that sends data to the other component
          Within product-detatils.component.ts
          <img class="buybutton" src="/assets/images/kate/buybutton.png" alt="buybutton" />
          <br><br>
          Within catalog.component.html
          <img class="li" src="/assets/images/kate/li.png" alt="li" />
      </p>
  </div>
</div>
