<div class="product">
    <div class="product-details">
        <img [src]="getImageUrl(productDetails)" [alt]="productDetails.name" />
        <div class="product-info">
            <div class="name"> {{ productDetails.name }} </div>
            <div class="description"> {{ productDetails.description }} </div>
            <div class="category">Part Type: {{ productDetails.category }} </div>
        </div>
    </div>
    <div class="price">
        <div *ngIf="productDetails.discount === 0">{{ productDetails.price | currency:'GBP' }}</div>
        <div class="discount" *ngIf="productDetails.discount > 0">
            {{ (productDetails.price * (1 - productDetails.discount)) | currency:'GBP' }}
        </div>
        <button class="cta" (click)="buyButtonClicked(productDetails)">Buy</button>
    </div>
</div>
